extends layout

block content
  h3= title
  | There was some ready solutions but i really didn`t like them, so i decided to write my own.
  | This tool can use standart features, functions and graphics. It can revive itself after octave error without data loss.
  br
  br
  | P.S. Whatever happens next, thank you for this task. It was quite enjoyable.
  br
  br
  | All test data was taken from
  a(href='https://www.gnu.org/software/octave/doc/interpreter/Simple-Examples.html') here
  br
  | Powered by
  a(href="https://www.gnu.org/software/octave/") GNU Octave, version 3.8.1
  br
  br
  a(href="/") Return to main page