extends layout
block content
    form(name="octave", action="/octave", method="post")
        textarea(name="input" cols=50 rows=20)
        div
            h2 output
            div #{output}
        input(type="submit", value="send")

